.App {
  text-align: center;
}
.navbr{
  background-color: lightcoral;
  margin: 20px;
  padding: 20px;
  text-decoration: none;
  font-family:fantasy
}
.Nav_bar{
  background-color: lightcoral;
  padding: 20px;
}
.bgall{
  height: 900px;
  width: 900px;
  background-image: linear-gradient( pink,rgb(69, 126, 199), blue,rgb(69, 126, 199), pink);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
table,th,tr,td{
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}
.App{
  background-image: linear-gradient(pink,rgb(255, 0, 234),pink);
}
.mainbox_container{
background-color: black;
color: white;
}
.Table{
  border: 1px solid blue
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
